

*.mp4
HumanBehaviour/videos/daria_bend.avi
*.npy
*.avi
*.mat
*.pyc
*.json
*.jpeg
*.JPG

.obsidian/workspace
HumanBehaviour/tested_methods/behaviour_spt.h5
HumanBehaviour/tested_methods/Spatio_lstm.py
HumanBehaviour/weights/behaviour_1.0.pth
HumanBehaviour/.obsidian/workspace
*.0
*.pkl
*.ann
Age_detection/vgg16_weights_tf_dim_ordering_tf_kernels.h5
*.zip
*.zip
*.zip
*.zip
aqi/AirQualityPrediction-master.zip
aqi/AirQualityPrediction-.zip
*.html
*.JPG
Age_detection/demo/001A05.JPG
