
*.jpg
*.mp4
HumanBehaviour/videos/daria_bend.avi
*.npy
*.avi
*.mat
*.pyc
*.json
*.jpeg
*.png
.obsidian/workspace
HumanBehaviour/tested_methods/behaviour_spt.h5
HumanBehaviour/tested_methods/Spatio_lstm.py
HumanBehaviour/weights/behaviour_1.0.pth
